.nav {
  width: 100vw;
  height: 5rem;
  outline: none;
  overflow: hidden;
  background: #ccc;
  font: 400 1.2rem/2.4rem "微软雅黑";
  position: relative;
}
.nav .nav_warp {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}
.nav .nav_warp {
  display: inline-block;
  padding: 0rem;
  margin: 0rem 5rem;
}
.nav .nav_warp:after {
  clear: both;
  display: block;
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
  zoom: 0;
}
.nav .nav_warp .left {
  float: left;
}
.nav .nav_warp .float {
  display: inline-block;
  padding: 0rem 1rem;
  margin: 0rem 1rem;
}
.btn {
  width: 10rem;
  height: 3rem;
  outline: none;
  overflow: hidden;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
  background: #fff;
  font: 400 1.5rem/3rem "微软雅黑";
}
.btn:hover {
  cursor: pointer;
  border: 0.1rem solid #ccc;
  color: #fff;
  background: blue;
  box-shadow: none;
  text-shadow: none;
}
.input_text {
  width: 20rem;
  height: 3rem;
  outline: none;
  overflow: hidden;
  display: inline;
  padding: 0rem 2rem;
  margin: 0rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
  background: #fff;
  font: 400 1.5rem/3rem "微软雅黑";
}
