@import '../variable/attributeVariable.less';


//盒子模型属性组件

//  /*盒子模型尺寸属性组件*/
.boxModelSizeVar();
.boxModelSize(@width:@def_width;@height:@def_height;@outline:@def_outline;@overflow:@def_overflow){
    width:@width;
    height:@height; 
    outline:@outline;
//  overflow:@overflow;
}

.boxModelSizeFiexVar();
.boxModelSizeFiex(@min-width:@def_min-width;@min-height:@def_min-height;@max-width:@def_max-width;@max-height:@def_max-height){
    -webkit-min-width:@min-width;
    -moz-min-width:@min-width;
    -ms-min-width:@min-width;
    -o-min-width:@min-width;
    min-width:@min-width;
    -webkit-max-width:@max-width;
    -moz-max-width:@max-width;
    -ms-max-width:@max-width;
    -o-max-width:@max-width;
    max-width:@max-width;
    -webkit-min-height:@min-height;
    -moz-min-height:@min-height;
    -ms-min-height:@min-height;
    -o-min-height:@min-height;
    min-height:@min-height;
    -webkit-max-height:@max-height;
    -moz-max-height:@max-height;
    -ms-max-height:@max-height;
    -o-max-height:@max-height;
    max-height:@max-height;
}

//  /*盒子模型边距属性组件*/
.boxModeComVar();
.boxModelCom(@display:@def_display;@padding:@def_padding;@margin:@def_margin){
    display:@display;
    padding:@padding;
    margin:@margin;
}

.boxModelMarginVar();
.boxModelMargin(@margin-left:@def_margin-left;@margin-right:@def_margin-right;@margin-top:@def_margin-top;@margin-bottom:@def_margin-bottom){
    margin-left:@margin-left;
    margin-right:@margin-right;
    margin-top:@margin-top;
    margin-bottom:@margin-bottom;
}

.boxModelPaddingVar();
.boxModelPadding(@padding-left:@def_padding-left;@padding-right:@def_padding-right;@padding-top:@def_padding-top;@padding-bottom:@def_padding-bottom){
    padding-left:@padding-left;
    padding-right:@padding-right;
    padding-top:@padding-top;
    padding-bottom:@padding-bottom;
}

//  /*盒子模型边框属性组件*/
.boxModelBorderVar();
.boxModelBorder(@border-radius:@def_border-radius;@border:@def_border;){
    -webkit-border-radius:@border-radius;
    -moz-border-radius:@border-radius;
    -ms-border-radius:@border-radius;
    -o-border-radius:@border-radius;
    border:@border;
}

//  /*盒子模型颜色样式组件*/
.boxModelBackgroundVar();
.boxModelBackground(@background:@def_background){
    background:@background;
}




///*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




//浮动属性组件
.floatComVar();
.floatCom(@float:@def_float;@floatEl:@def_floatEl){
    &:after{
        clear:both;
        display:block;
        content:'';
        width: 0;
        height: 0;
        visibility:hidden;
        zoom:0;
    }
    .@{floatEl}{
        float:@float;
    }
}




///*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




//相对定位属性组件
.positionComVar();
.positionCom(@r_left:@def_r_left;@r_right:@def_r_right;@r_top:@def_r_top;@r_bottom:@def_r_bottom;@relative:@def_relative){
    position:relative;
    .@{relative}{
        position:absolute;
        left:@left;
        right:@right;
        top:@top;
        bottom:@bottom;
    }
}

.positionCenterVar();
.positionCenter(@posCen:@def_posCen;@relative:@def_relative){
    position:relative;
    .@{relative}{
        position:absolute;
        bottom:50%;
        -webkit-transform:translateY(@posCen);
        -moz-transform:translateY(@posCen);
        -ms-transform:translateY(@posCen);
        -o-transform:translateY(@posCen);
        transform:translateY(@posCen);
    }
}



///*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




//固定定位属性组件
.positionFixVar();
.positionFix(@f_left:@def_f_left;@f_right:@def_f_right;@f_top:@def_f_top;@f_bottom:@def_f_bottom){
    position:fixed;
    left:@f_left;
    right:@f_right;
    top:@f_top;
    bottom:@f_bottom;
}




///*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




//行内元素属性组件
.inlineCom(){
    display:inline;
}



///*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




//字体属性组件
.fontComVar();
.fontCom(@font:@def_font){
    font:@font;
}

.fontBranchComVar();
.fontBranchCom(@font-family:@def_font-family;@font-size:@def_font-size;@font-style:@def_font-style;@font-weight:@def_font-weight;@line-height:@def_line-height){
    font-family:@font-family;
    font-size:@font-size;
    font-style:@font-style;
    font-weight:@font-weight;
    line-height:@line-height;
}

.aVar();
.a(@text-decoration:@def_text-decoration;@hyperline_color:@def_hyperline_color;@hover_color:@def_hover_color){
    outline:none;
    color:@hyperlin_color;
    text-decoration:@text-decoration;
    &:link,&:visited{
        text-decoration:@text-decoration;
    }
    &:hover{
        color:@hover_color;
    }
}



.listVar();
.list(@list:@def_list){
    list-style:@list;
}



//动作属性组件
.hoverVar();
.hover(@cursor:@def_cursor;@color:@def_color;@border:@def_border;@background:@def_background;@box-shadow:@def_box-shadow;@text-shadow:@def_text-shadow){
    &:hover{
        cursor:@cursor;
        border:@border;
        color:@color;
        background:@background;
        box-shadow:@box-shadow;
        text-shadow:@text-shadow;
    }
}

