@import 'overallModule.less';
@import 'attributeModule.less';
@import '../variable/modularVariable.less';


///*---导航组件-----------------------------------------------------------------------------------------------------------------------------------*/


//网页导航模板组件
.navVar();
.nav(
@warp:@def_nav_warp;@float_com:@def_float_com;
@width:@def_nav_width;@height:@def_nav_height;
@background:@def_nav_background;
@font:@def_nav_font;
@posCen:@def_nav_posCen;@relative:@def_nav_relative;
@_margin:@def_nav__margin;
@_float:@def_nav__float;
@__padding:@def_nav___padding;@__margin:@def_nav___margin
){
    @relative:@def_nav_warp;
    @float:@def_float_com;
    .boxModelSize(@width:@width;@height:@height);
    .boxModelBackground(@background:@background);
    .fontCom(@font:@font);
    .positionCenter(@posCen:@posCen;@relative:@relative);
    .@{warp}{
        .boxModelCom(@margin:@_margin);
        .floatCom(@float:@_float);
        .@{float_com}{
            .boxModelCom(@padding:@__padding;@margin:@__margin);
        }
    } 
}


///*---按钮组件-------------------------------------------------------------------------------------------------------------*/
 
///*---按钮通用样式---*/
.btnVar();
.btn(
@width:@def_btn_width;@height:@def_btn_height;
@border-radius:@def_btn_border-radius;@border:@def_btn_border;
@background:@def_btn_background;
@font:@def_btn_font;@color:@def_btn_color;
@hover_color:@def_btn_hover_color;@hover_border:@def_btn_hover_border;@hover_background:@def_btn_hover_background
){
    .boxModelSize(@width:@width;@height:@height);
    .boxModelBorder(@border-radius:@border-radius;@border:@border);
    .boxModelBackground(@background:@background);
    .fontCom(@font:@font);
    //按钮交互子组件
    .hover(@color:@hover_color;@border:@hover_border;@background:@hover_background);
}

.btnComVar();
.btn_com(
@btn_com:@def_btn_com;
@float:left;
@width:@def_btn_width;@height:@def_btn_height;
@border:@def_btn_border;
@background:@def_btn_background;
@font:@def_btn_font;@color:@def_btn_color;
@r_border-radius:@def_btn_r_border-radius;@border:@def_btn_border;
@l_border-radius:@def_btn_l_border-radius;
@hover_background:red;
){     
    .floatCom(@float:@float;@floatEl:@btn_com); 
   .@{btn_com}{
        .boxModelSize(@width:@width;@height:@height);
        .boxModelBorder(@border:@border);
        .boxModelCom(inline-block;0rem;0rem);
        .boxModelBackground(@background:@background); 
        .fontCom(@font:@font;@color:@color);
        &:first-child{
            .boxModelBorder(@border-radius:@r_border-radius;@border:@border);
        }
        &:last-child{
            .boxModelBorder(@border-radius:@l_border-radius;@border:@border);
        }
        .hover(@background:@hover_background);
    }
}

///*---表单组件----------------------------------------------------------------------------------------------------------------------*/


///*---text表单通用样式---*/
.inputFarmeVar();
.inputFarme(
@width:@def_input_width;@height:@def_input_height;
@display:@def_input_display;@padding:@def_input_padding;@margin:@def_input_margin;
@border-radius:@def_input_border-radius;@border:@def_input_border;
@background:@def_input_background;
@font:@def_input_font;
){
    .boxModelSize(@width:@width;@height:@height);
    .boxModelCom(@display:@display;@padding:@padding;@margin:@margin);
    .boxModelBorder(@border-radius:@border-radius;@border:@border);
    .boxModelBackground(@background:@background);
    .fontCom(@font:@font); 
}

