//全局变量
@def_float_com:float;

///*---导航组件变量-----------------------------------------------------*/


.navVar(){
    //导航组件类名变量
    @def_nav:nav;
    @def_nav_warp:nav_warp;
    @def_float_com:float;
    
    //导航组件属性变量
    @def_nav_width:100vw;
    @def_nav_height:5rem;
    @def_nav_background:#ccc;
    @def_nav_font:~'400 1.2rem/2.4rem "微软雅黑"';
    
    @def_nav__margin:0rem 5rem;
    @def_nav__float:left;
    
    @def_nav___padding:0rem 1rem;
    @def_nav___margin:0rem 1rem;
}


///*---表单组件变量-------------------------------------------------------------------------------*/


//表单组件类名变量
@def_form_btn:btn;
@def_form_input_text:input_text;

//表单组件属性变量
@def_form_border_color:#ccc;











